body, html {
	font-family: Lato;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #656c6d;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	font-weight: 600;
	font-size: 24px;
}
h1 strong {
	font-weight: 900;
	color: #4a5555;
	font-size: 24px;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #4a5555;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 24px;
}
h3, h4 {
	color: #4a5555;;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 500;
	line-height: 20px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: Lato;
}
a {
	color: #333;
}
a:hover, a:focus {
	text-decoration: none;
	color: 	color: #4a5555;;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 50px;
	text-align: center;
	position: relative;
	background: #c4cfcf;;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar-custom {
	margin-bottom: 0;
	background-color:  #9cb0b0;
	border-radius: 0px;
	padding: 10px 10px;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
	font-size: 20px;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 8px 8px;
	font-size: 19px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #f4f5f6;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #b9d5d5;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #b9d5d5;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.8);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	padding: 0px 0px;
	margin: 0;
	font-size: 0px;
	border-radius: 0;
}
.btn-linkedin {
	  background: #0E76A8;
	  border-radius: 1;
	  color: #fff;
	  border-width: 0px;
	  border-style: solid;
	  border-color: #084461;
	}
	.btn-linkedin:link, .btn-linkedin:visited {
	  color: #fff;
	}
	.btn-linkedin:active, .btn-linkedin:hover {
	  background: #084461;
	  color: #fff;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #b9d5d5;
	border-color: #b9d5d5;
}
.btn-primary {
	color: #fff;
	background-color: #48929b;
	padding: 4px 6px;
	border-color: #48929b;
	border-radius: 4;
	font-size: 16px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #336970;
	border-color: #336970;
}
.btn-primary i.fa {
	margin-right: 10px;
}
/* Home Section */
.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../img/intro-bg-pref.jpg) no-repeat center top;
	background-color: #7bc3d1;
	-webkit-background-size: 200;
	-moz-background-size: 200;
	background-size: 200;
	-o-background-size: 200;
}
.section-title.center {
	padding: 25px 0 10px 0;
}
/* About Section */
#about {
	padding: 50px 0;
	background: #f6f6f6;
}
#about .about-text {
	margin-left: 10px;
	font-size: 14.5px;
}
#about img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: inline-block;
}
#about p {
	margin-top: 35px;
	margin-bottom: 5px;
}
#about .social {
	margin-top: 30px;
	margin-bottom: 5px;
}
#about .social ul li {
	display: inline-block;
	margin: 0 15px;
}
#about .social i.fa {
	font-size: 35px;
	padding: 4px 5px;
	color: #9cb0b0;
	transition: all 0.5s;
}

#about .social i.fa:hover {
	color: #b9d5d5;
}
/* Resume Section */
#resume {

	background: #e3eeee;
}
.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}
.timeline:before {
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 1px;
	margin-left: 0px;
	background-color: #fff;
}
.timeline>li {
	position: relative;
	margin-bottom:60px;
	min-height: 60px;
}
.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}
.timeline>li:after {
	clear: both;
}
.timeline>li .timeline-panel {
	float: right;
	position: relative;
	width: 100%;
	padding: 0 10px 0 70px;
	text-align: left;
}
.timeline>li .timeline-panel:before {
	right: auto;
	left: 0px;
	border-right-width: 0px;
	border-left-width: 0;
}
.timeline>li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li .timeline-image {
	z-index: 100;
	position: absolute;
	left: 0;
	width: 0px;
	height: 0px;
	margin-left: 0;
	border: 1px solid #eee;
	border-radius: 100%;
	text-align: center;
	background: #fff;
}
.timeline>li .timeline-image h4 {
	margin-top: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 30px 0 70px;
	text-align: eft;
}
.timeline>li.timeline-inverted>.timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li:last-child {
	margin-bottom: 20px;
}
.timeline .timeline-heading h4 {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 16px;
}
.timeline .timeline-heading h2 {
	margin-top: 10px;
}
.timeline .timeline-heading h4.subheading {
	text-transform: none;
	color: #629ca7;
	font-size: 20px;
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
	margin-bottom: 0px;
}
/* Portfolio Section */
#portfolio {
	margin-top: 0px;
	margin-bottom: 30px;
	background: #f6f6f6; /* Old browsers */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6', GradientType=0 ); /* IE6-9 */
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 0px;
}
ol.type li a {
	background: #f6f6f6;
	color: #fff;
	padding: 14px 14px;
}
ol.type li a.active {
	background: #121d1f;
	color: #fff;
}
ol.type li a:hover {
	background: #121d1f;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.isotope-item {
	margin-right: 0px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 20px 20px 20px 20px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.portfolio-item .hover-bg {
	height: 200px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 33% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#portfolio i.fa {
	font-size: 0px;
	padding: 0px;
	color: #f6f6f6;
}
/* Contact Section */
#contact {
	padding: 30px 0 0px 0;
	color: #fff;
	background: #819595;
}
#contact h2 {
	color: #fff;
}
#contact hr {
	background: rgba(255,255,255,0.6);
}
#contact h3 {
	padding-top: 0px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 0px 0;
}
#contact i.fa {
	color: #fff;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #fff;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: Lato;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 0px 0px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: rgba(255,255,255,0.4);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #fff;
}
.form-control:-moz-placeholder {
color: #fff;
}
.form-control::-moz-placeholder {
color: #fff;
}
.form-control:-ms-input-placeholder {
color: #fff;
}
#contact .social {
	margin-top: 34px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 10px;
}
#contact .social i.fa {
	font-size: 26px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #fff;
}

#contact .btn:hover, #contact .btn:focus {
	background-color: #fff;
	border: 1px solid #fff;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background: #a6bfbf;
	color: #fff;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	color: #fff;
}

/* Media Queries */
@media(min-width:768px) {
.intro {
	height: 100%;
	padding: 0;
	text-align: left;
	color: #fff;
}
.intro H1 {
	font-size: 60px;
	font-weight: 500;
	letter-spacing: -2px;
}
.intro .name {
	font-weight: 600;
}
.intro .intro-text {
	max-width: 75%;
}
.intro .intro-text p {
	font-family: Lato;
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
section {
	padding: 120px 0;
}
header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
}
.timeline:before {
	left: 50%;
}
.timeline>li {
	margin-bottom: 100px;
	min-height: 100px;
}
.timeline>li .timeline-panel {
	float: left;
	width: 41%;
	padding: 0 20px 20px 30px;
	text-align: right;
}
.timeline>li .timeline-image {
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}
.timeline>li .timeline-image h4 {
	margin-top: 16px;
	line-height: 18px;
	font-weight: 400;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 30px 20px 20px;
	text-align: left;
}
}

@media(min-width:992px) {
#here-me h1 {
	margin: 10px 0 0px;
}
.timeline>li {
	min-height: 150px;
}
.timeline>li .timeline-panel {
	padding: 0 20px 20px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	margin-top: 30px;
	font-size: 18px;
	line-height: 26px;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 0 20px 20px;
}
}

@media(min-width:1200px) {
.timeline>li {
	min-height: 170px;
}
.timeline>li .timeline-panel {
	padding: 10px 20px 20px 100px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	margin-top: 40px;
	font-weight: 400;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 10px 100px 20px 20px;
}
}
